@charset "utf-8";
/* CSS Document */

/*----*****---- << General >> ----*****----*/

	body { background:#fffae4 url(images/top-bg.jpg) repeat-x; color:#4e4635; }

	/*----*****---- << Headings >> ----*****----*/
	
	h1,h2,h3,h4,h5,h6{ color:#322f20; }

	h1.title, h2.title, h3.title, h4.title, h5.title, h6.title { background:url(images/title-border.png) bottom repeat-x; color:#fffae4; text-shadow:-1px -1px 0px #634e37; }
	h1.title span, h2.title span, h3.title span, h4.title span, h5.title span, h6.title span { background:url(images/title-bg.jpg) repeat; }

	/*----*****---- << Text Elements >> ----*****----*/
	
	a{ color:#687719; }

	blockquote{ color:#4e4635; border:1px solid #cfc89d; background:#e5deb0 url(images/quote.png) 10px 15px no-repeat; }
	blockquote span{ color:#666666; }

	blockquote.type2 { background-image:url(images/quote2.png); }
	blockquote.type3 { background-image:url(images/quote3.png); }
	blockquote.type4 { background-image:url(images/quote4.png); }

	pre, code{ border-left:5px solid #dcd6ae; background-color:#f1eccd; }

	hr{ background-color:#efefef; color:#efefef; }

	/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */

	.hr{ background:url(images/splitter.jpg) repeat-x; }

	.hr.thin{ background:url(images/splitter-thin.jpg) repeat-x; }

	/*----*****---- << Tables >> ----*****----*/

	th{ background:url(images/tab-bg.jpg) repeat; color:#fffae4; text-shadow:-1px -1px 0px #634e37; border-bottom:1px solid #fffae4; }	
	td{ background:#e5deb0; color:#4e4635; border-bottom:1px solid #FFFAE4; }
	tr.even td{ background:#d4cc9a; }
	tfoot td { background:#d4cc9a; border-bottom:4px solid #9d9564; }

	/*----*****---- << Forms >> ----*****----*/

	label{ color:#4e4635; }
	fieldset{ border:1px solid #2e3338; }
	
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], input.text, textarea{ background-color:#fbf2ce; border:1px solid #bbaf9b; color:#4e4635; }
	select{ background-color:#fbf2ce; border:1px solid #bbaf9b; }

	input[type=submit]:hover { background:url(images/btn-bg-hover.jpg) repeat; }	

	/*----*****---- << Images >> ----*****----*/

	.post-content img { border:2px solid #617b00; }

	.wp-caption { background:#ECE8D5; }	
	.wp-caption .wp-caption-text { color:#4E4635; }
	.wp-caption:hover { background:#819a16; }
	.wp-caption:hover .wp-caption-text { color:#fffae4; }

	.rounded-img { background:#ebaa98; }
	.rounded-img:hover { background:#a06c5d; }

	.green-border { border:5px solid #617b00; }
	.pink-border { border:5px solid #a06c5d; }

	/*----*****---- << Lists >> ----*****----*/
	
	ul.flower-bullet li a { color:#4e4635; }
	ul.flower-bullet li a:hover { color:#687719; }

	/*----*****---- << Widgets >> ----*****----*/

	.widget.widget_recent_entries img { border:3px solid #a19680; }
	.widget.widget_recent_entries img:hover { border:3px solid #617b00; }

	.widget.tweetbox ul li .tweet-time, .widget.tweetbox ul li a { color:#728b23; }

	.widget ul.contact-details span.address { background:url(images/addr-ico.png) center no-repeat; }
	.widget ul.contact-details span.mail { background:url(images/mail-ico.png) center no-repeat; }
	.widget ul.contact-details span.phone { background:url(images/phone-ico.png) center no-repeat; }	

	.error404 .content .widget ul.contact-details p a, .booknow-page-sidebar .widget ul.contact-details p a { color:#4e4635; }	
	.error404 .content .widget ul.contact-details p a:hover, .booknow-page-sidebar .widget ul.contact-details p a:hover { color:#687719; }
	.error404 .content .widget ul.contact-details span.address, .booknow-page-sidebar .widget ul.contact-details span.address { background:url(images/addr-ico-big.png) center no-repeat; }
	.error404 .content .widget ul.contact-details span.mail, .booknow-page-sidebar .widget ul.contact-details span.mail { background:url(images/mail-ico-big.png) center no-repeat; }
	.error404 .content .widget ul.contact-details span.phone, .booknow-page-sidebar .widget ul.contact-details span.phone { background:url(images/phone-ico-big.png) center no-repeat; }

	.widget.widget_calendar caption { color:#fffae4;}	
	.widget.widget_calendar th{ background:url(images/tab-bg.jpg) repeat; color:#fffae4; text-shadow:-1px -1px 0px #634e37; border-bottom:1px solid #e5deb0; }
	.widget.widget_calendar td{ background:#e5deb0; color:#4e4635; }
	.widget.widget_calendar tr.even td{ background:#d4cc9a; }
	.widget.widget_calendar tfoot td { background:#d4cc9a; border-bottom:4px solid #9d9564; }
	.widget.widget_calendar a { color:#7d8d29; }
	.widget.widget_calendar a:hover { color:#221d1b; }	

/*----*****---- << Layout >> ----*****----*/

	/*----*****---- << Header >> ----*****----*/

	#header { background:url(images/header.jpg) left 55px repeat-x; border-bottom:5px solid #0d0902; }

	#top-menu { background:url(images/menu-bg.jpg) bottom repeat-x; }
	ul.menu { border-left:1px solid #322f20; border-right:1px solid #322f20; }
	/*ul.menu li { border-bottom:5px solid #617b00; }*/
	ul.menu li a { color:#fffae4; }
	ul.menu li a span { color:#c0b891; }
	ul.menu li.current_page_item, ul.menu li:hover { border-bottom:5px solid #b79a65; }
	ul.menu li.current_page_item a span { background:url(images/menu-active-arrow.png) left top no-repeat; }	

	ul.menu ul { background:#b89a62 url(images/dropdown-menu.jpg) repeat; border-bottom:5px solid #967d4f; }
	ul.menu li ul li a:hover, ul.menu ul li:hover a { color:#644814; }	
	ul.menu li ul li:hover ul li:hover a { color:#644814; }	
	ul.menu li ul li:hover ul li a, ul.menu li ul li:hover ul li:hover ul li a { color:#fffae4; }
	ul.menu li ul li:hover ul li a:hover, ul.menu li ul li:hover ul li:hover ul li a:hover { color:#644814; }	
	ul.menu li ul li ul li { background:url(images/dropbg.png); }

	ul.menu li ul li.current_page_item a { color:#644814; }

	#searchform fieldset { background:#2e3338; }
	#searchform input[type="text"] { background:#fbf2ce; color:#2e3338; }
	#searchform input[type="submit"] { background:url(images/search.png) no-repeat; }

	/*----*****---- << Home Slider >> ----*****----*/

	#home-slider { background:url(images/slider-bg.jpg) center top repeat-x; }
	.slider-wrapper { border-bottom:5px solid #2c3c1a; background:#5fa023 url(images/loading.gif) 50% 50% no-repeat; }

	.nivo-caption { left:140px; top:40%; width:340px; }

	.theme-default .nivo-caption h2 { color:#f9f1d7; }

	.theme-default .nivo-caption p { color:#f9f1d7; }
	
	 .rev_slider_wrapper, .ls-container { border-bottom:5px solid #2c3c1a; }

	/*----*****---- << Main >> ----*****----*/

		/*----*****---- << Home >> ----*****----*/

		.home #main { background:url(images/content-bg.jpg) center top repeat-x; }
		.readmore { background:#bfb092 url(images/readmore.png) center no-repeat; }
		.readmore:hover { background-color:#7d674e; }

			/*----*****---- << Home Services >> ----*****----*/

			.home .content-center-aligned a { color:#322f20; }
			.home .content-center-aligned a:hover { color:#7d8d29; }

			/*----*****---- << Popular Procedures >> ----*****----*/

			.box-content { background:#eadbbc; border-bottom:5px solid #bfb092; }
			.notice { color:#4e4635; }
			.notice span.right { color:#8a2626; }

	/*----*****---- << Breadcrumb >> ----*****----*/

	.breadcrumb { text-shadow:-1px -1px 0px #596a13; background:url(images/btn-bg-hover.jpg) repeat; }
	.breadcrumb span, .breadcrumb a { color:#c1d56d; }
	.breadcrumb a:hover { color:#deeca2; }
	.breadcrumb .current-crumb { color:#fffae4; }

	/*----*****---- << Content >> ----*****----*/

		/*----*****---- << Contact >> ----*****----*/

		ul.contact-details span.address { background:url(images/addr-ico-big.png) center no-repeat; }
		ul.contact-details span.mail { background:url(images/mail-ico-big.png) center no-repeat; }
		ul.contact-details span.phone { background:url(images/phone-ico-big.png) center no-repeat; }
		ul.contact-details p a { color:#4e4635; }
		ul.contact-details p a:hover { color:#687719; }

		/*----*****---- << 404 >> ----*****----*/

		.error404 h1.big-title { color:#282d31; }
		.back-btn { background:url(images/back-btn.png) no-repeat; color:#322f20; text-shadow:1px 1px 0px #dbcaa5; }

		.error404 .widget h2 a { color:#322F20; }
		.error404 .widget h2 a:hover { color:#687719; }

		.error404 .widget ul li { background:url(images/bullet-green.png) left 1px no-repeat; }
		.error404 .widget a { color:#4e4635; }
		.error404 .widget a:hover { color:#687719; }
		.error404 .widget a.big-ico-button, .error404 .widget a.big-ico-button:hover { color:#322F20; }

		.error404 .widget.widget_calendar caption { color:#322f20; }
		.error404 #footer .widget.widget_calendar caption { color:#fffae4; }

		.error404 .widget.widget_nav_menu ul.menu li a { color:#4E4635; }
		.error404 .widget.widget_nav_menu ul.menu li a:hover { color:#687719; }


		/*----*****---- << Sidebar >> ----*****----*/

		.sidebar h2 { background:url(images/sidebar-title-border.png) bottom repeat-x; color:#fffae4; }
		.sidebar h2 span { background:url(images/sidebar-title.jpg) repeat-x; }
		
		.sidebar h2 a { color:#fffae4; }
		.sidebar h2 a:hover { color:#ebaa98; }

		.sidebar .widget ul li { background:url(images/bullet-green.png) left 1px no-repeat; }
		.sidebar a { color:#4e4635; }
		.sidebar a:hover { color:#687719; }
		.sidebar a.big-ico-button, .sidebar a.big-ico-button:hover { color:#322F20; }

		.sidebar .widget.widget_calendar caption { color:#322f20; }

		.sidebar .widget.widget_nav_menu ul.menu li a { color:#4E4635; }
		.sidebar .widget.widget_nav_menu ul.menu li a:hover { color:#687719; }

		/*----*****---- << Popular Procedures >> ----*****----*/

		.box-content-with-design { background:#e5deb0 url(images/design-border.png) right top no-repeat; }

		table.price-table td { border-bottom:1px solid #fffae4; }
		table.price-table td.even { color:#3e8711; } 

		/*----*****---- << Blog >> ----*****----*/

			ul.cat-menu li { background:url(images/blog-header-splitter.png) left no-repeat; }
			ul.cat-menu li span.active { border-top:10px solid #fffae4; }

			ul.cat-menu li a { color:#252212; }
			.arrow-down { border-top:10px solid #1c1909; }

			.categories-list { background:url(images/dark-green-bg.jpg) repeat;}
			.categories-list ul li a { color:#fffae4; background:#2d2914; border-top:2px solid #4a4633; }
			.categories-list ul li a:hover, .categories-list ul li.active a { border-color:#534f3d; background:#534f3d; }

			.post-title { background:url(images/title-bg.jpg) repeat; }
			.post-title h2 a { color:#fffae4; }

			.post-title h2 a:hover { color:#cec28d; }

			.sticky .post-title .featured { background:url(images/featured.png) right no-repeat; color:#fffae4; }
			.sticky .post-title .featured span { background:url(images/btn-bg-hover.jpg) repeat; }			

			.post-title .readmore:hover { background-color:#bfb092 }
			.post-title .arrow { border-right:5px solid #453829; border-top:4px solid #453829; }

			.post-details { background:#f4efd7; }				
				.post-details .date, .post-comments { background:#c8bb81 url(images/small-design-border.png) left 12px no-repeat; }
				.post-details .day, .post-comments .count { color:#322f20; }
				.post-details .arrow { border-right:5px solid #445600; border-top:4px solid #445600;  }
				.post-details .date-group, .post-comments span.comment { background:#617b00; color:#d5e695; } 

			.post-thumb img { border:5px solid #617b00; }
			
		.pagination { text-shadow:-1px -1px 0px #634e37; color:#fffae4; }
		.pagination a { color:#fffae4; }

		.prev-post a { background:url(images/prev-post.png) left no-repeat; }
		.prev-post span { background:url(images/btn-bg.jpg) repeat; }	
		.prev-post span:hover, .next-post span:hover , .prev-post a:hover span, .next-post a:hover span { background-image:url(images/btn-bg-hover.jpg); }
		.prev-post a:hover { background-image:url(images/prev-post-hover.png); }

		.next-post a { background:url(images/next-post.png) right no-repeat; }
		.next-post span { background:url(images/btn-bg.jpg) repeat; }
		.next-post a:hover { background-image:url(images/next-post-hover.png); }

		.pagination ul { list-style-type:none; list-style-position:outside; text-align:center; width:100%; margin-top:8px; padding:0px; }
		.pagination ul li { display:inline-block; zoom:1; height:100%; display:inline; margin:0px 5px; }
		.pagination li a { background:url(images/btn-bg.jpg) repeat; padding:8px 17px 7px; height:100%; zoom:1; }
		.pagination ul li.active-page, .pagination li a:hover { background:url(images/btn-bg-hover.jpg) repeat; padding:8px 17px 7px; text-decoration:none; }

		.post-tags { background:url(images/light-bg.jpg) repeat; color:#fffae4; }
		.post-tags a { color:#fffae4; }
		.post-tags a:hover { color:#5b563d; }
		.post-tags span { background:url(images/tags-ico.png) no-repeat; }

			ul.commentlist li.comment { background:#f4efd7; }
			.gravatar { background:#79634a; border:1px solid #5d5449; }
			.gravatar span { background:#fffae4; }

			.comment-meta a { color:#4e4635; }

			.reply a { background:#7c664d; color:#fffae4;}
			.reply a:hover { background:#90a925; }

			.comment-body p { color:#5a5a5a; }

			.cancel-comment-reply a { background:#7c664d; color:#fffae4; }
			.cancel-comment-reply a:hover { background:#90a925; }

			#respond h1 { color:#7E684F; }

			.comment-body blockquote p { color:#4E4635; }
			.comment-body table td, .comment-body table th { border-bottom:1px solid #F4EFD7; }
			ul.commentlist li.bypostauthor { background:#ddd6b3; }

		ul.related-posts li { background:#eadbbc; border-bottom:5px solid #bfb092; }
		ul.related-posts li h2 a { color:#322F20; }		
		ul.related-posts li h2 a:hover { color:#EBE6D2; }		
		ul.related-posts li:hover, ul.related-posts li.active { background:#bfb092; }

		.related-slider-controls a { background:url(images/related-slider-arrows.png) left top no-repeat; }

		/*----*****---- << Pagination >> ----*****----*/

		.page-link { color:#4E4635; }
		.page-link a, .page-link span { background:url(images/btn-bg.jpg) repeat; color:#fffae4; }
		.page-link a:hover, .page-link span { background:url(images/btn-bg-hover.jpg) repeat; }

		.edit-link a { background:#7c664d; color:#fffae4; }
	    .edit-link a:hover { background:#90a925; }

	/*----*****---- << Gallery >> ----*****----*/

		#sorting-container a { background:#9f9a82; color:#3a3a3a; }
		#sorting-container a.active_sort, #sorting-container a.active_sort:hover { color:#fffae4; background:#839c18; }
		#sorting-container a:hover { background:#786249; color:#fffae4; }

		.no-margin.gallery-entry { background:#e5deb0; }

		.gallery-details .nav a, .single-gallery-details .nav a { background:url(images/slideshow-arrows.png) no-repeat; }

		.gallery-details .nav a:after, .single-gallery-details .nav a:after { background:url(images/slideshow-arrows.png) no-repeat; } 	
	    .gallery-details .nav a:hover:after, .single-gallery-details .nav a:hover:after  { opacity:1; }

		.ajax_close { background:#303739 url(images/close.png) center center no-repeat; }
		.ajax_close:hover, .ajax_previous:hover, .ajax_next:hover { background-color:#839c18; }		
		.ajax_previous { background:#303739 url(images/ajax-prev.png) 12px center no-repeat; }
		.ajax_next { background:#303739 url(images/ajax-next.png) 16px center no-repeat; }

		.gallery-title h5 a { color:#4e4635; background:#ece8d5; }
		.inner-entry:hover .gallery-title h5 a { background:#819a16; color:#fffae4; }

		.image-overlay {  background:#303739; }
		.image-overlay-inside { background:url(images/image-overlay.png) center center no-repeat; }
		

		/*----*****---- << Menu Page >> ----*****----*/
		
		.menu-title { background:url(images/menu-title-line.png) left 16px repeat-x; }	
		.menu-title span { background:#fffae4; }	
		.menu-items-list h1 a { color:#322F20; }
		.menu-item-price { background:url(images/price-bg.png) repeat-x; color:#ffffff; }	
		.menu-details span.sub-title { color:#617b00; }	
		
		.menu-sidebar ul li { border-bottom:1px solid #e9e0b8; }	
		.menu-sidebar ul li a { background:url(images/menu-arrow.png) 10px 15px no-repeat; color:#322f20; }
		
		.menu-sidebar ul li a.active, .menu-sidebar ul li a:hover { background:#1b1807 url(images/menu-arrow-hover.png) 10px 15px no-repeat; color:#f1e8c1; }
		
		.border { border:8px solid #ebaa98; }
		.border:hover { border:8px solid #a06c5d; }

		

	/*----*****---- << Shortcodes >> ----*****----*/

		/* Tabs */
		.tabs ul li a { color:#fffae4; text-shadow:-1px -1px 0px #596a13; background:url(images/tab-bg.jpg) repeat; }
		.tabs .tabnav li a:hover, .tabs .tabnav li a:focus, .tabs .tabnav li a.current { background:url(images/btn-bg-hover.jpg) repeat; }	
		.tabs .tab-container { background:#e5deb0; border-bottom:2px solid #c4bc89; }

		/* Accordion */
		.accordion li a { color:#fffae4; text-shadow:-1px -1px 0px #596a13; background:url(images/tab-bg.jpg) repeat; }
		.accordion li a span { background:url(images/accordion-hide.png) no-repeat; }
		.accordion li a.active span { background:url(images/accordion-active.png) no-repeat; }
		.accordion li div.holder a { color:#687719; }

	/*----*****---- << Newsletter >> ----*****----*/

	#newsletter { background:url(images/newsletter-bg.png) no-repeat; }
	#newsletter input[type="text"], #newsletter input[type="email"] { border:1px solid #bfb092; background:#fffae4; }

	/*----*****---- << Footer >> ----*****----*/

	#footer { background:url(images/footer-bg.jpg) repeat; border-top:5px solid #100b09; color:#afa38a; }

	#footer h2 { background:url(images/footer-title-border.png) bottom repeat-x; color:#221d1b; }
	#footer h2 span { background:url(images/footer-title.jpg) repeat-x; }
	#footer h2 a { color:#221d1b; }
	#footer h2 a:hover { color:#687719; }

	#footer a { color:#afa38a; }
	#footer a:hover { color:#ebe6d2; }

	#footer .widget ul li { background:url(images/bullet-sandal.png) left top no-repeat; }

	.testimonial-skin-carousel .jcarousel-item-placeholder { background: #fff; }
	.testimonial-skin-carousel .jcarousel-prev-horizontal { background:url(images/testimonial-nav.png) left top no-repeat; }
	.testimonial-skin-carousel .jcarousel-next-horizontal { background:url(images/testimonial-nav.png) -22px top no-repeat; }
	
	.testimonial-skin-carousel .jcarousel-next-disabled:hover { background:url(images/testimonial-nav.png) -22px top no-repeat; }
	.testimonial-skin-carousel .jcarousel-prev-disabled:hover { background:url(images/testimonial-nav.png) left top no-repeat; }

	#footer blockquote { color:#afa38a; }
	#footer blockquote cite { color:#afa38a; }

	#footer .widget.social-widget h2 { color:#afa38a; }

	.footer-bottom { background:url(images/footer-bottom-bg.jpg) repeat; }
	.footer-bottom p { color:#514b37; }

	#footer .widget.widget_calendar a { color:#7d8d29; }
	#footer .widget.widget_calendar a:hover { color:#221d1b; }
	
	#footer .widget_search #searchform fieldset { background:#7e735c; }
	
	#footer .widget_rss li a { color:#ebe6d2; }
	#footer .widget_rss li a:hover { color:#cec28d; }

	#footer .widget.widget_nav_menu ul.menu li a { color:#AFA38A; }
	#footer .widget.widget_nav_menu ul.menu li a:hover { color:#ebe6d2; }

	#footer .widget.tweetbox ul li a { color:#ebe6d2; }
	
/*----*****---- << WooCommerce >> ----*****----*/

	ul.products li .details { background:#E5DEB0; border-bottom:5px solid #CBC496; }
	
	.woocommerce .button, .woocommerce-page .button { background:#859e1a url(../../images/btn-green-bg.jpg) repeat; text-shadow:-1px -1px 0px #596a13; }
	
	.woocommerce-tabs ul li a { color:#fffae4; text-shadow:-1px -1px 0px #596a13; background:url(images/tab-bg.jpg) repeat; }
	.woocommerce-tabs .tabs li a:hover, .woocommerce-tabs .tabs li a:focus, .woocommerce-tabs .tabs li.active a { background:url(images/btn-bg-hover.jpg) repeat; }	
	.woocommerce-tabs .panel { background:#e5deb0; border-bottom:2px solid #c4bc89; }
	
	ul.products li .added_to_cart { background:url(images/cart-btn.jpg) no-repeat; }
	
	.widget_price_filter .price_slider_wrapper .ui-widget-content { background:#839c18; }
	.widget_price_filter .ui-slider .ui-slider-range { background:#E5DEB0; }
	.widget_price_filter .ui-slider .ui-slider-handle { background:#E5DEB0; }
	
	.widget.woocommerce ul.product_list_widget li img { border:3px solid #EBAA98; }
	.widget.woocommerce ul.product_list_widget li img:hover { border:3px solid #a06c5d; }
	
	.widget.woocommerce.widget_product_search #searchform div { background:#2e3338; }
	
	
	/*ul.products li { border:3px solid #EBAA98; }
	ul.products li:hover { border:3px solid #a06c5d; } 
	
	ul.products li .onsale, .product .onsale { background:rgba(65, 76, 79, 0.9); }
	ul.products li .button, .cart .button, .add_review .button, .shipping-calculator-form .button, .price_slider_amount .button { background:#859e1a url(images/btn-green-bg.jpg) repeat; text-shadow:-1px -1px 0px #596a13; }
	
	ul.products li .price, .product .summary .price, .widget.woocommerce ul.product_list_widget li .amount { color:#3E8711; }
	
	ul.page-numbers li span.current, ul.page-numbers li a:hover { background:url(images/btn-bg-hover.jpg) repeat; }
	
	.widget_price_filter .price_slider_wrapper .ui-widget-content { background:#839c18; }
	.widget_price_filter .ui-slider .ui-slider-range { background:#E5DEB0; }
	.widget_price_filter .ui-slider .ui-slider-handle { background:#E5DEB0; }
	
	.widget.woocommerce.widget_product_search #searchform input[type="text"] { border:1px solid #2E3338; }
	.widget.woocommerce.widget_product_search #searchform input[type="submit"] { background:#2e3338 url(images/search.png) center center no-repeat; }
	
	ul.tabs li a { background:url(images/tab-bg.jpg) repeat; }
	.woocommerce-tabs .panel { background:#e5deb0; border-bottom:2px solid #c4bc89; }
	ul.tabs li a:hover, ul.tabs li a:focus, ul.tabs li.active a { background:url(images/btn-bg-hover.jpg) repeat; }	*/
	
	
/*----*****---- << Shortcodes >> ----*****----*/
	
.dt-sc-callout-box, .dt-sc-ico-content.type2, .dt-sc-ico-content.type4 { background:#f1eccd; }	
.dt-sc-callout-box.type4, .dt-sc-ico-content.type1 h5, .dt-sc-ico-content.type2 h5, .dt-sc-ico-content.type4 h5 { border-color:#dcd6ae; }
.dt-sc-callout-box.type3 { background:#826C54; }

.dt-sc-ico-content.type1 .icon span, .dt-sc-ico-content.type2 .icon span, .dt-sc-ico-content.type3 .icon span, .dt-sc-ico-content.type4 .icon span { background:#8aa31f; border-color:#6b8010; color:#fffae4; }
.dt-sc-ico-content.type5 .icon span { color:#8aa31f; }


.dt-sc-pr-tb-col { background:#f1eccd; border-color:#dcd6ae; }
.dt-sc-tb-header .dt-sc-price { background:url(images/tab-bg.jpg) repeat; }
.dt-sc-pr-tb-col.selected .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.selected .dt-sc-buy-now .button { background:url(images/btn-bg-hover.jpg) repeat; }
.dt-sc-tb-content li { background:#f1eccd; border-top-color:#fffbe0; border-bottom-color:#e1dbb6; }
.dt-sc-pr-tb-col .dt-sc-buy-now { border-color:#fffbe0; }

.dt-sc-pr-tb-col.selected .dt-sc-tb-title h5 { color:#8aa31f; }


